@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Bank</h1>

<p>View your existing accounts under the "My Accounts"-tab.</p>
<p>If you don't have any accounts yet you can get started in "Create Account"!</p>
<p>"Deposit / Withdraw" is where you can put money into your account or take money out.</p>
<p>To transfer money between accounts, go to the "Transfers"-tab.</p>
<p>All history of transactions are viewable under "History"!</p>