@page "/"

<PageTitle>Bankster</PageTitle>

<h1>Welcome to Bankster</h1>

<p>View your existing accounts under <a href="/MyAccounts"><strong>My Accounts</strong></a>.</p>
<p>If you don't have any accounts yet you can get started under <a href="/CreateAccount"><strong>Create Account</strong></a>!</p>
<p><a href="/DepositWithdraw"><strong>Deposit / Withdraw</strong></a> is where you can put money into your account or take money out.</p>
<p>To transfer money between accounts, go to <a href="/Transfer"><strong>Transfer</strong></a>.</p>
<p>All history of transactions are viewable under <a href="/History"><strong>History</strong></a>!</p>